{{define "base"}}
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  {{if .Title}}
    <title>{{.Title}} - Cazador de Puertos</title>
  {{else}}
    <title>Cazador de Puertos</title>
  {{end}}
  <link rel="stylesheet" href="/static/styles/main.css" />
</head>

<body>

<header>
  <div class="left">
    <div class="title"><a href="/">Cazador de Puertos</a></div>
    <ul>
      <li><a href="/athletes">Athletes</a></li>
      <li><a href="/summits">Summits</a></li>
    </ul>
  </div>
  <div class="right">
    <ul>
      {{if .IsLoggedIn}}
        <li class="user">
          <img class="avatar" src="{{.User.Profile}}" />
          <a class="name" href="/athletes/{{.User.Id}}">{{.User.FirstName}}</a>
        </li>
      {{else}}
        <li><a class="login-link" href="/login"><img src="/static/images/connect_with_strava.svg" /></a></li>
      {{end}}
    </ul>
  </div>
</header>

<div class="content">
  {{template "content" .}}
</div>

<footer>
  <hr />
  <div class="left">by <a href="https://roman.zone">Roman</a> (<a href="https://github.com/gentlecat/cazador">GH</a>)</div>
  <div class="right"><img class="strava-credit" src="/static/images/powered_by_strava.svg"></div>
</footer>

</body>

</html>
{{end}}
